img {
  width: 800px;
  position:absolute
}

.meme-image-container {
  width: 800px;
}

span {
  position: absolute;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:55px;
  color: white;
  font-weight: bold;
  max-width: 800px;
  padding-top: 390px;
}